In [ ]:
import pandas as pd
import MySQLdb

In [ ]:
db = MySQLdb.connect(
'localhost',
'root',
'1234',
charset = 'utf8')

In [ ]:
cursor = db.cursor()

In [ ]:
sql = '''
show databases;
'''
cursor.execute(sql)

In [ ]:
cursor.fetchall()

In [ ]:
# databases 생성 - budongsan

sql = '''
create database budongsan;
'''
cursor.execute(sql)

In [ ]:
sql = '''
show databases;
'''
cursor.execute(sql)

In [ ]:
cursor.fetchall()

In [ ]:
db = MySQLdb.connect('localhost','root','1234','budongsan',charset = 'utf8')

In [ ]:
 #  컬럼만들기 name , addr, height, email

In [ ]:
sql = '''
show mytable;
'''
pd.read_sql(sql,db)

In [ ]:
db

In [ ]:
cursor = db.cursor()

In [ ]:
sql = '''
create table mytable
(
name varchar(20),
addr varchar(20),
height int,
email varchar(20)
);
'''
cursor.execute(sql)

In [ ]:
sql = '''
show tables;
'''
cursor.execute(sql)

In [ ]:
cursor.fetchall()

In [ ]:
df = pd.read_csv('budongsan.csv')
df.head(3)

In [ ]:
sql = '''
insert into mytable values('이진성','서울',170,'asud@naver.com');
'''
cursor.execute(sql)

In [ ]:
sql = '''
drop table mytable2;
'''
cursor.execute(sql)

In [ ]:
sql = '''
create table room
(addr varchar(255),
agent varchar(20),
deposit varchar(20),
rent varchar(20)
);
'''
cursor.execute(sql)

In [ ]:
sql = '''
select * from mytable2;
'''

cursor.execute(sql)

In [ ]:
#'''
# sql = '''
#insert into mytable2 values(0,3467204.0,010-123-4567,'서울시 강남구 역삼동 0','TODAY공인중개사(이인규)',1000.0,100.0)
#insert into mytable2 values(1,3150497.0,010-123-4567,'서울시 강남구 역삼동 1','TODAY공인중개사(이인규)',11000.0,60.0)
#insert into mytable2 values(2,3440906.0,010-123-4567,'서울시 강남구 역삼동 2','열린공인중개사(강광수)',5000.0,65.0)
#insert into mytable2 values(3,3376834.0,010-123-4567,'서울시 강남구 역삼동 3','미래공인중개사(김유철)',3000.0,95.0)
#insert into mytable2 values(4,3331511.0,010-123-4567,'서울시 강남구 역삼동 4','한백부동산공인중개사(김남조)',110.0,110.0)
#insert into mytable2 values(5,3373198.0,010-123-4567,'서울시 강남구 역삼동 5','강남코리아공인중개사(기숙영)',15000.0,70.0)
#insert into mytable2 values(6,3376434.0,010-123-4567,'서울시 강남구 역삼동 6','열린공인중개사(강광수)',1000.0,85.0)
#insert into mytable2 values(7,3322860.0,010-123-4567,'서울시 강남구 역삼동 7','한강공인중개사(김상헌)',1000.0,80.0)
#insert into mytable2 values(8,3303061.0,010-123-4567,'서울시 강남구 역삼동 8','동하공인중개사(임성우)',1000.0,60.0)
#insert into mytable2 values(9,3262172.0,010-123-4567,'서울시 강남구 역삼동 9','스타공인중개사(박정직)',2000.0,50.0);'''
#cursor.execute(sql)

In [ ]:
for i in range(len(df)):
    addr = df.iloc[i][3]
    agent = df.iloc[i][4]
    deposit = df.iloc[i][5]
    rent = df.iloc[i][6]
    
    sql = '''
    insert into room values('{addr}','{agent}',{deposit},{rent})
    '''.format(addr=addr, agent=agent, deposit= deposit,rent=rent)
    
    cursor.execute(sql)

In [ ]:
db.commit()

In [ ]:
sql = ' select *from  room;'

cursor.execute(sql)
cursor.fetchall()

In [ ]:
df.sql = df

In [ ]:
db.commit

In [ ]:
# sakila db
# 월별 렌탈 횟수가 30회 이상인 유저
# 유저이름 , 유저 이메일
# pandas sql

In [ ]:
db = MySQLdb.connect(
'localhost',
    'root',
    '1234',
    'sakila',
    charset='utf8'
)

In [ ]:
sql = '''
show tables;
'''
pd.read_sql(sql,db)

In [ ]:
sql = '''
select * from rental;
'''
rental_df = pd.read_sql(sql, db)

In [ ]:
sql = '''
select * from customer;
'''
customer_df = pd.read_sql(sql,db)

In [ ]:
customer_df.head(3)

In [ ]:
rental_df.head()

In [ ]:
rental_df['month'] = rental_df['rental_date'].\
apply(lambda x: str(x)[:7])

In [ ]:
rental_df.groupby('month')['rental_id'].count()

In [ ]:
sql = '''
select c.first_name, c.email, count(r.customer_id) as num_rent
from customer c join rental r
on r.customer_id = c.customer_id
group by r.customer_id
having num_rent >= 30
order by num_rent desc;
'''
pd.read_sql(sql, db).head()

In [ ]:
print(rental_df.count() >= 30)

In [ ]:
df2 = pd.merge(customer_df,rental_df, on='customer_id')
df2.head()

In [ ]:
df30 = df2.groupby('customer_id')['rental_id'].count()>=30

In [ ]:
idf30 = [idf for idf, i in enumerate(df30) if i == True]

In [ ]:
df2 = df2[['first_name','email','rental_id']]

In [ ]:
uniquedf = df2.drop_duplicates(['customer_id'],keep = 'last')  ##중복갑 삭제

In [ ]:
df2['first_name'].unique()

In [ ]:
uniquedf.set_index('customer_id',drop=True).iloc[idf30]

In [ ]:
# film 테이블 에서 2006년이나 2007년에 출시되었으면서 
# 'PG' 등급이거나 'G' 등급의 영화제목
# film table

In [ ]:
sql = '''
select * from film;
'''
film_df = pd.read_sql(sql, db)

In [ ]:
film_df = film_df[['release_year', 'rating', 'title']]
film_df.head()

In [ ]:
film_df['release_year'].astype(int)

In [ ]:
year = (film_df['release_year'] == 2006) | (film_df['release_year'] == 2007)

In [ ]:
rating = (film_df['rating'] == 'PG') | (film_df['rating']== 'G')

In [ ]:
film_df[year & rating]

In [ ]:
sql = '''
select title from film where release_year = '2006' or release_year = '2007'
and rating = 'PG' or rating = 'G';
'''
pd.read_sql(sql,db)

In [ ]:
# user 별 매출
# customer, payment
# customer_id ,  매출 내림차순;

In [ ]:
sql = '''
select * from payment;
'''
payment_df = pd.read_sql(sql, db)

In [ ]:
df = pd.merge(customer_df,payment_df, on='customer_id')

In [ ]:
pd.DataFrame(df.groupby('customer_id')['amount'].count()).sort_values('amount',ascending=False).head()

In [ ]:
sql = '''
select
c.customer_id,
sum(p.amount) as revenue
from
payment p
join customer c
on c.customer_id = p.customer_id
order by revenue;
'''
pd.read_sql(sql,db)